@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, li, a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.primary-background{
    background-color: #080708;
}

.secondary-background{
    background-color: #FF7700;
}

.rich-blanck-background {
    background-color: #171717;
}

.text-rich-blanck {
    color: #050113;
}

.secondary-border-color {
    border-color: #FF7700 !important;
}

.text-cream{
    color: #EAF8BF
}

.text-grey{
    color: #aaa;
}

.text-orange {
    color: #FF7700;
}

.icon-width {
    width: 3%;
    margin-top: 10px;
}

.logo-calim {
    background-image: url('/src/calim.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-bottom: -4px;
}

.logo-huergo {
    background-image: url('/src/huergo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-bottom: -4px;
}

.about-me {
    text-align: justify;
}

@supports (-webkit-background-clip: text) {
    .text-orange {
        background: linear-gradient(90deg,#FF7700, #f83439);
        -webkit-background-clip: text;
        color: transparent;
    }
}


.border-pill{
    border-radius: 100px;
    border: 1px solid rgba(234, 248, 191, 0.5);
}

.text-center {
    text-align: center;
}

.me-1 {
    margin-right: 1.5em;
}

.ms-1 {
    margin-left: 1.5em;
}

.mt-1{
    margin-top: 1em;
}

.mb-1{
    margin-bottom: 1.5em;
}

.mtb-1{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.mse-1 {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.circle-img {
    border: 3px solid #FF7700;
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.width-3 {
    width: 3.5%;
}

.me {
    cursor: pointer;
}

.nav-items li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-items li a {
    transition: all 0.3 ease 0s;
}

.nav-items li a:hover {
    color:#FF7700
}

.contact-button {
    padding: 9px 25px;
    background-color: #FF7700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.code-button {
    padding: 9px 25px;
    background-color: #FF7700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.navbar ul {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.navbar li {
    list-style: none;
}

.navbar ul li.active a {
    color: #FF7700;
    font-weight: bold;
}

.navbar .toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropbox-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 5rem;
    width: 300px;
    background-color: rgba(5, 1, 19, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropbox-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbox-menu.open {
    height: 240px;
}

.dropbox-menu .contact-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.presentation-content {
    padding: 10rem 10%;
    width: 100%;
    height: 100%;
}

.presentation-content h1 {
    font-size: 3rem;
}

.presentation-content p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.project-content {
    padding: 7rem 10%;
    width: 100%;
    height: 100%;
}

.project-content h1 {
    font-size: 3rem;
}

.project-content p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.about-content {
    padding: 7rem 10%;
    width: 100%;
    height: 100%;
}

.about-content h1 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.socials-buttons {
    font-size: 2rem;
    cursor: pointer;
}

.socials-buttons:hover {
    color:#FF7700
}

.projects {
    margin-top: 2em;
    display: inline-block;
}

.projects h2 {
    margin-bottom: .4em;
}

.gestor-de-productos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gestor-de-productos img {
    width: 100%;
}

.gestor-de-productos i {
    font-size: 1em;
}

.content-projects {
    padding-left: 2em;
}

.content-projects img {
    width: 1em;
}

.content-projects p {
    text-align: justify;
    font-size: 14px;
}

.languages {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
}

.languages li {
    background-color: #171717;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 5px 10px;
    margin-right: 1em ;
    border: 1px solid rgba(234, 248, 191, 0.5);
}

.languages span {
    margin-left:5px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-data a{
    padding-right:.8rem;

}

.hidden-navbar {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* RESPONSIVE */
@media(max-width: 992px) {
    .border-pill, .nav-items, .contact-button {
        display: none;
    }
    .navbar .toggle-btn {
        display: block;
        color: #EAF8BF
    }

    .dropbox-menu {
        display: block;
    }

    .width-3 {
        width: 9%;
    }
    
    .project-content {
        padding: 7rem 10%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-x: hidden;
    }
    
    .project-content h1 {
        font-size: 2rem;
    }
    
    .project-content p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .about-content {
        padding: 5rem 10%;
        width: 100%;
        height: 100%;
    }
    
    .about-content h1 {
        font-size: 2rem;
    }
    
    .about-content p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .presentation-content {
        padding: 15rem 10%;
        width: 100%;
        height: 100%;
    }

    .presentation-content h1 {
        font-size: 2rem;
    }
    
    .presentation-content p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .gestor-de-productos {
        display: block;
    }

    .gestor-img {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .gestor-img img {
        max-width: 80%;
        height: auto;
    }

    .languages {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
    
    .languages li {
        background-color: #171717;
        border-radius: 50px;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 5px 10px;
        border: 1px solid rgba(234, 248, 191, 0.5);
        min-width: 100px;
    }

    .gestor-de-productos p {
        padding-right: 1em;
    }

    .content-projects {
        margin-top: 1em;
        padding-left: 0;
        max-width: 90%;
        height: auto;
    }

    .languages li {
        border: 2px solid rgba(234, 248, 191, 0.5);
    }

    .content-projects img {
        width: 1em;
    }


}

@media(max-width: 576px) {
    .dropbox-menu {
        left: 2rem;
        width: unset;
    }
}
